.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: absolute;
  top: 0;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    border: 1px solid white;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: #F5F5F5;

      &:hover {
        color: lightblue;
      }
    }
  }
}